
// MY CUSTOM VARS
$second-dark-grey: #555;
$third-dark-grey: #151515;
$mandarine: #f39c12;
$mandarine-gradient: #e08f0e;
$mandarine-primary-active: #af6d02;
$teal-dark: #225f59;
$error: #ff1744;

// TEXTS and INPUT TEXTS
$text-input: #c2c2c2;
$text-paragrahp: #dfdfdf;

// BORDER ITEMS
$border-item: 1px solid $gray-600;

// NAV BAR
$height-navbar: 57px;
$bg-dropdown: $black;
$bg-dropdown-item-hover: rgba(255, 255, 255, 0.12);

// IFRAME
$iframe-height: 315px;
$iframe-border: 1px solid $gray-800;