// @import "./_bootswatch";
@import "./_animations";

// Vue-material
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: $mandarine, // The primary color of your application
  accent: $gray-900, // The accent or secondary color
  theme: dark // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme

body {
  #app {    
    .router-link {
      color: $white;
    }
    .router-link:hover {
      color: $mandarine;
    }
    .bg-create-section {
      background-color: $third-dark-grey;
    }
    .elegant-color {
      background-color: $gray-900;
    }
    

    ////// H1,H2 and INPUT TEXTS  ////////
    h1, h2, h3 {
      color: $gray-200;
    }

    h4, h5, p {
      color: $text-paragrahp;
    }

    h6 {
      color: $mandarine;
    }

    a {
      color: $gray-500;
    }

    span {
      color: $gray-600;
    }

    small {
      color: $white;
    }

    .checkbox-text,
    .input-file {
      color: $text-input;
    }
  

    //////// BUTTON ////////
    .btn {
      color: $black !important;
      font-weight: bold;
    }
    .btn-primary {
      background-color: $mandarine !important;
      color: $third-dark-grey !important;
    }
    .btn-primary:not([disabled]):not(.disabled):active {
      background-color: $mandarine-primary-active !important;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    }

    .btn-witdh {
      width: 130px;
    }
    .error {
      color: $error;
    }
    .success {
      color: $green;
    }
    .info {
      color: $white;
    }

    ////// CHECKBOX /////////
    .checkbox-lg .md-checkbox-container::after {
      width: 0.50rem;
      padding-top: 16px;
      left: 8px;
      padding-left: 0px;
      top: 1px;
    }

    .checkbox-lg .md-checkbox-container {
      width: 1.85rem;
      height: 1.85rem;
    }

    .checkbox-lg .md-checkbox-label {
      padding-top: 5px;
      padding-left: 10px;
    }


    // HR
    .ft-breakline {
      background-color: $second-dark-grey;
    }

    // ICON CARDS
    .ft-card {
      &__icon:hover {
        color: $second-dark-grey;
      }
    }

    // Fix autocomplete styles in webkit browsers
    .md-field.md-theme-default.md-focused .md-input:-webkit-autofill, 
    .md-field.md-theme-default.md-focused .md-textarea:-webkit-autofill, 
    .md-field.md-theme-default.md-has-value .md-input:-webkit-autofill, 
    .md-field.md-theme-default.md-has-value .md-textarea:-webkit-autofill {
      -webkit-text-fill-color: $white;
      -webkit-box-shadow: 0 0 0 30px $gray-800 inset;
    }
  }

  
  ////// DROPDOWN SELECT  ////////
  .md-menu-content.md-select-menu,
  .md-menu-content-bottom-start.md-menu-content {
    z-index: 1100;
  }

  ////// MD-AUTOCOMPLET ////////
  .md-field .md-input {
    width: 100%;
  }

}

////// PROGRESS BAR ///////
#nprogress {
  .bar {
    height: 4px;
    background: $teal;
  }
  .spinner {
    display: none;
    // position: absolute;
    // top: 15px;
    // right: 45%;
  }
}