@import "./_variables";
@import "./_bootswatch";

body {
  #app {
    .router-link {
      color: $white;
    }
    .router-link:hover {
      color: $mandarine;
    }
    .bg-create-section {
      background-color: $third-dark-grey;
    }
  }
}